*, *::before, *::after
    box-sizing: border-box

html    
    font-size: .87rem

body 
    color: #353535
    font-family: $f_text

#app
    overflow: hidden
    position: relative
    background: $c_bg
    width: 400px
    max-width: 95vw
    min-height: 500px
    height: 97vh
    max-height: 700px
    margin: 5vh auto
    border-radius: $b_radius
    box-shadow: $shadow
    // box-shadow: transparentize($c_bg, .5) 0px 4px 12px

h1
    font-family: $f_headlines

.title
    color: $c_highlight


.link
    text-decoration: underline
    color: $c_highlight

a
    color: inherit
    text-decoration: none

.f-highlight
    font-family: $f_headlines
    font-weight: 600
    text-align: center
    font-size: 1.75em
    letter-spacing: -2px
    padding-top: .25em

.col
    display: flex
    flex-direction: column

.font-text
    font-family: $f_text

.font-headlines
    font-family: $f_headlines

@media screen and ( min-height: 700px )
    html
        font-size: 1rem